html, body, .app {
    height: 100vh;
    background-color: #eee;
}

.bg-gray {
    background-color: #D3D3D3;
}

.bg-deepblue {
    background-color: #234465;
}

.bg-yellow {
    background-color: #FFA000;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.text-gray {
    color: #D3D3D3
}

.text-yellow {
    color: #FFA000
}

.text-deepblue {
    color: #234465
}

.box-shadow {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.icon-huge {
    font-size: 4em;
    margin-bottom: 10px;
}

.mx-auto {
    margin: 0 auto;
}

.login-wrapper {
    background-image: url("./assets/images/studying.svg");
    height: 100vh;
}

.register-wrapper {
    background-image: url("./assets/images/exam.svg");
    height: 100vh;
}
.p-form {
    padding: 2em 4em !important;
}
.form-div {
    margin-top: 10vh;
    border-radius: 5px;
    border: 4px solid white;
}
.text-red {
    color: #F8383C;
}
.role-message {
    color: #FFA000;
    text-align: left;
    font-style: italic;
    display: inline-block;
}

.role-select {
    width: 48%;
}