@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body, .app {
    height: 100vh;
    background-image: url("./assets/images/studying.png");
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.bg-gray {
    background-color: #D3D3D3;
}

.bg-deepblue {
    background-color: #234465;
}

.bg-yellow {
    background-color: #FFA000;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.text-gray {
    color: #D3D3D3
}

.text-yellow {
    color: #FFA000
}

.text-deepblue {
    color: #234465
}

.box-shadow {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.icon-huge {
    font-size: 4em;
    margin-bottom: 10px;
}

.mx-auto {
    margin: 0 auto;
}

.login-wrapper {
    background-image: url("./assets/images/studying.svg");
    height: 100vh;
}

.bg-image {
    background-image: url("./assets/images/studying.png");
    height: 100vh;
}

.register-wrapper {
    background-image: url("./assets/images/exam.svg");
    height: 100vh;
}

.p-form {
    padding: 2em 4em !important;
}

.form-div {
    margin-top: 10vh;
    border-radius: 5px;
    border: 4px solid white;
}

.text-red {
    color: #F8383C;
}

.role-message {
    color: #FFA000;
    text-align: left;
    font-style: italic;
    display: inline-block;
}

.role-select {
    width: 48%;
}

.side-bar {
    width: 210px;
    height: 92vh;
}

.sidebar-logo {
    border-bottom: 2px solid white;
}

.home-div-container {
    background-color: #ECF0F1;
    border: 2px solid #4285F4;
}

.hr-home {
    border: 1px solid #4285F4;
    width: 78%;
}

.test-listing-div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.max-width-40 {
    max-width: 40% !important;
}

.w-10 {
    width: 10%;
}

.border-primary {
    border: 2px solid #4285F4;
}

.bg-light-gray {
    background-color: #ECF0F1;
}

.button-size-42 {
    height: 42px;
    width: 42px;
}

.border-primary-3 {
    border: 3px solid #4285F4;
}

.question-number-div {
    width: 33px;
    height: 33px;
}

.bg-green {
    background-color: #1DBF73;
}

.bg-red {
    background-color: #F65264;
}

.text-20 {
    font-size: 20px;
}

.text-25 {
    font-size: 25px;
}

.text-27 {
    font-size: 27px;
}

.bg-transparent {
    background-color: transparent;
}

.bg-gray-light {
    background-color: #EAEAEA;
}

.border-primary-all-but-top {
    border: 2px solid #4285F4;
    border-top: none;
}

.quest-bg-shape {
    top: 0;
    clip-path: polygon(63% 0, 100% 47%, 63% 100%, 0 99%, 0 0);
    position: absolute;
    background-color: #C6D2E8;
    width: 80%;
    z-index: 1;
    height: 100%;
}

.z-index-10 {
    z-index: 10;
}

.answer-hovered {
    background-color: #4285F4;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.f-size-15em {
    font-size: 15em;
}