.bg-gray {
  background-color: #D3D3D3;
}

.bg-deepblue {
  background-color: #234465;
}

.bg-yellow {
  background-color: #FFA000;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.text-gray {
  color: #D3D3D3
}

.text-yellow {
  color: #FFA000
}

.text-deepblue {
  color: #234465
}

.text-white {
  color: white
}

.text-black {
  color: black;
}